@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    margin: 0;
    padding: 0;
}
 body{
  font-family: 'Montserrat', sans-serif;
  }
li{
    list-style-type: none;
    display: inline-block;
}

 .sectionOne{
    background-color: rgb(20, 19, 19);
     width: 100%;
     height: 1024px;
     margin: 0 auto 0px;
     position: relative;
 }
 p{
     color: blanchedalmond;
     font-size: 13pt;
 }
 h2{
    color: rgb(83, 81, 87);
    font-size: 13pt;
 }
 .form1{
    position: absolute;
    background-color: rgb(51, 58, 58, 0.514);
    width: 70%;
    height: 17%;
    margin: 35px 15%;
}
h1{
    color: rgb(83, 81, 87);
    font-size: 22pt;
}



.form2{
    position: absolute;
    background-color: rgb(51, 58, 58, 0.514);
    width: 70%;
    height: 17%;
    margin:250px 15%;
}



.form3{
    position: absolute;
    background-color: rgb(51, 58, 58, 0.514);
    width: 70%;
    height: 17%;
    margin-top:460px;
    margin-left: 15%;
    margin-bottom: 0px;
}



.form4{
    position: absolute;
    background-color: rgb(51, 58, 58, 0.514);
    width: 70%;
    height: 17%;
    margin-top: 670px;
    margin-left: 15%;
    margin-bottom: 0px;
}

