@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


*{
  margin: 0;
  padding: 0;
}
 body{
  font-family: 'Montserrat', sans-serif;
  }
li{
  list-style-type: none;
  display: inline-block;
}

.sectionOne{
  background-color: rgb(20, 19, 19);
  width: 100%;
  height: 2000px;
  margin: 0 auto 0px;
  position: relative;
 }
  
.caja{
  width: 90%;
  margin-left: 17%;
  margin-top: 155%;
  position: absolute;
}
.caja li{
  width: 200px;
  height: 150px;
  display: inline-block;
  border: 15px solid rgba(0, 0, 0);
  margin: 10px;
  box-sizing: border-box;
  transform: scale(1);
  transition: all .2s ease-out;
}

.caja li:hover{
  transform: scale(1.2);
}

.caja li a{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.caja li img{
  width: 100%;
}

.fondo{
  position: absolute;
  width: 100%;
  height: 110%;
  z-index: 1;   /*escalar preferencia en pantalla */
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(118, 122, 155, 0.33);
}
.close {
  position: absolute;
  top: 67%;
  right: 47%;
  color: rgb(188, 190, 223);
  text-decoration: none;
  font-size: 18pt;
  color: white;
}
p{
  color: rgb(233, 221, 221);
  font-size: 100%;
}
.sectionOne ul{
  color: rgb(233, 221, 221);
  font-size: 95%; 
}
.expeSP{
  position: absolute;
  background-color: rgba(51, 58, 58, 0.514);
  height: 10%;
  width: 75%;
  margin-top: 50px;
  margin-left: 10%;
  padding: 2%;
}
.expeQB{
  position: absolute;
  background-color: rgb(51, 58, 58, 0.514);
  height: 36%;
  width: 75%;
  margin-top: 370px;
  margin-left: 10%;
  padding: 2%;
}
.expeCH{
  position: absolute;
  background-color: rgb(51, 58, 58, 0.514);
  height: 11%;
  width: 75%;
  margin-top: 1210px;
  margin-left: 10%;
  padding: 2%;
}
.classh2{
  font-family: 'Roboto', sans-serif;
  font-size: 210%;
  color: rgb(83, 81, 87); 
}
.caja{
  width: 65%;
  margin-top: 1500px;
  position: absolute;
}
.sectionOne  h2{
  
  font-size: 25pt;
  color: rgb(223, 204, 204);
}

footer{
  width: 100%;
  background-color: rgb(12, 11, 11);
  
}
footer li{
  color: rgb(209, 202, 202);
}

@media (max-width: 550px){
  .sectionOne{
    height: 2700px;
  }
  .expeSP{
    height: 350px;
    width: 85%;
    margin-left: 4.5%;
    padding: 3%;
    }
  .expeQB{
    height: 1140px;
    width: 85%;
    margin-left: 4.5%;
    margin-top: 440px;
    padding: 3%;
    }
  .expeCH{
    margin-top: 1620px;
    width: 85%;
    margin-left: 4.5%;
    height: 350px;
    padding: 3%;
  }
  .caja{
    margin-top: 1950px;
    padding: 3%;
  }
  }