@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
}
 body{
  font-family: 'Montserrat', sans-serif;
  }
li{
    list-style-type: none;
    display: inline-block;
}
header{
    font-family: 'Montserrat', sans-serif;
	width: 100%;
    margin: 0 auto;
    background: rgb(4, 57, 110);
	height: 50px;
	top: 0;
	position: sticky;
	z-index: 10;
  } 
  header nav li {
	padding: 15px 6%;
  }
  header nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 100%;
  }
  
.sectionOne{
    background-color: rgb(0, 100, 204);
    width: 90%;
    height: 600px;
    margin: 0 auto 0px;
    position: relative;
 }

.me{
	position: absolute;
	top: 20%;
	right: 5%;
	height: 40%;
	width: 28%;
	border-radius: 100%;
}

#name{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 10%;
    color:  rgb(23, 21, 29);
    font-size: 35pt; 
 }
#typer{
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 32%;
    left: 13%;
    color: rgb(23, 21, 29);
    font-size: 60pt;  
}

footer{
    width: 100%;
    background-color: rgb(56, 72, 75);
    height: 30px;
}
footer li{
    color: white;
}


@import "lesshat";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container{   
  width: 200px;
  height: 200px;
  position: absolute;
  left: 60px;
  margin: 0 auto;
  top:20px;
}
